config.env
*.kubeconfig
kubectl-config
token.csv
ssl/*.pem
ssl/*.csr
master/ssl/*.pem
master/config
master/token.csv
node/ssl/*.pem
node/config
node/flannel/subnet.env
node/docker/daemon.json
node/*.kubeconfig
node/token.csv
