config.env
*.kubeconfig
config
token.csv
ssl/*.pem
ssl/*.csr
master/ssl
master/config
master/token.csv
node/ssl
node/config
node/flannel/subnet.env
node/docker/daemon.json
node/*.kubeconfig
node/token.csv
